.websiteContainer {
  display : -webkit-flex;
  display : flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  background-image: url("https://tinyurl.com/y7clvgbd");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align:center;
  position:relative;
}

.title {
  font-size: 5em;
  line-height: 4em;
  color:#fff;
  font-family: "Lucida Bright", "Garamond", sans-serif;
  vertical-align: middle;
}

.container {
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items : center;
  -webkit-justify-content: center;
  justify-content: center;
}

.containertwo {
  display: flex;
  flex: 0 0 none;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items : center;
  -webkit-justify-content: center;
  justify-content: center;

  margin-bottom: 1em;
  //Move to mixin.
  align-self: flex-end;
}

.contactInfoIcon {
  margin-left: 15px;
  width : 3em;
  height : 3em;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.twitter {
  margin-left: 1em;
  width : 3em;
  height : 3em;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image : url("https://image.freepik.com/free-icon/twitter-logo_318-40459.jpg");
}

.linkedin {
  margin-left: 1em;
  width : 3em;
  height : 3em;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image : url("http://image.flaticon.com/icons/png/512/34/34227.png");
}

.github {
  margin-left: 1em;
  width : 3em;
  height : 3em;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image : url("http://www.iconsdb.com/icons/preview/gray/github-10-xxl.png");
}

.email {
  margin-left: 1em;
  width: 3em;
  height: 3em;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image : url("http://image.flaticon.com/icons/png/512/3/3468.png");
}
